<div class="container">
  <app-titulo [title]="title"></app-titulo>
<br>
<table class="table">
    <thead class="thread-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>   
        <th scope="col">Telefone</th>     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let funcionario of funcionarios">
        <th scope="row" >{{funcionario.id}}</th>
        <td>{{funcionario.nome}}</td>
        <td>{{funcionario.sobrenome}}</td>    
        <td>{{funcionario.telefone}}</td>     
      </tr>     
    </tbody>
  </table>
</div>
